/* CSS Document */
*,
html {
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(214, 214, 214);
    position: relative;
    flex-grow: 1;
}

header {
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    position: fixed;
}

#logo {
    width: 5em;
    /* Top right bottom left */
    padding: 1em .5em;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    font-size: 1em;
}

header nav li {
    min-width: 5em;
}

header nav a {
    color: white;
    text-decoration: none;
    outline: none;
    display: block;
    text-align: center;
    padding: 1em;
}

button {
    color: black;
    text-transform: uppercase;
    margin-top: 1em;
    padding: .8em 2em;
    background-color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 900;
    border: none;
    border-radius: 90px;
}

main section:nth-child(1) {
    flex-grow: 1;
    background-image: url("../images/headerafbeelding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 45em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-weight: 100;
    margin: 7em 1em 2em 1em;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

main div:nth-child(2) {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-image: linear-gradient(to right, #a9cdee 0%, #4d99d3 100%);
    background-repeat: no-repeat;
}

.blok {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 1.5em;
}


.items {
    height: 10em;
    margin-bottom: -1.5em;
    width: auto;
    padding: 1em 1em 0 0;
}

.buttonitem {
    color: white;
    text-transform: uppercase;
    margin-top: 1em;
    padding: .6em 4em;
    background-color: black;
    text-decoration: none;
    font-size: .8em;
    font-weight: 900;
    border: none;
    border-radius: 90px;
}

main div:nth-child(3) {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-image: linear-gradient(to right, #e8908e 0%, #e6675e 100%);
    background-repeat: no-repeat;
}
