/* CSS Document */
/* Start Algemeen */
*,
html {
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(214, 214, 214);
    position: relative;
    flex-grow: 1;
}

a:hover {
    color: #6b7986;
}

/* Start typografie */
/* h2 {
    font-weight: 100;
    margin: 6em 1em 1em 1em;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
} */

h3 {
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 1.3em;
}

h4 {
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 2em;
    padding: 1em;
}

h5 {
    text-align: start;
    font-weight: 600;
    color: #6b7986;
    font-size: 1.5em;
    padding: 1em;
}

p {
    text-align: start;
    font-weight: 300;
    color: #263746;
    font-size: 1.1em;
    margin: 2em, 0em, 2em, 2em;
    max-width: 50em;
}

/* einde typografie */

/* Start buttons */
.button1 {
    /* Eerste button */
    color: black;
    text-transform: uppercase;
    margin-top: 1em;
    padding: .8em 2em;
    background-color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 900;
    border: none;
    border-radius: 90px;
}

.button2 {
    /* Tweede button */
    color: white;
    text-transform: uppercase;
    margin-top: 1em;
    padding: .6em 4em;
    background-color: black;
    text-decoration: none;
    font-size: .8em;
    font-weight: 900;
    border: none;
    border-radius: 90px;
}

.button3 {
    /* Derde button */
    color: White;
    text-transform: uppercase;
    margin-top: 2em;
    padding: .8em 2em;
    background-color: #263746;
    text-decoration: none;
    font-size: 1em;
    font-weight: 900;
    border: none;
    border-radius: 90px;
}

/* Einde buttons */
/* Einde algemeen */

/*  ------------------------- */

/* Start header */
header {
    padding: 0 .75em;
    background-color: #263746;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
}

/* Start logo */
#logo {
    width: 5em;
    padding: 1em .5em;
    margin: .3em 5em .5em 5em;
}

/* Einde logo */

/* Start menu */
nav {
    order: -1;
}

/*  menu knop */
nav button {
    position: relative;
    width: 6em;
    height: 3em;
    font-size: 1em;
    background-color: #6b7986;
    border: none;
    border-radius: 90px;
    appearance: none;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: .9em;
    z-index: 100;
}

/*  de streepjes van het menu */
nav button::before {
    content: "\2630 ";
    display: inline-block;
    width: 1em;
    transform: scale(.75);
}

/*  kruisje in de knop in het uiklap menu  */
nav.toonMenu button::before {
    content: "\274C";
}

/*  uitklap menu  */
nav ul {
    padding: 6em 0 0;
    background: #263746;
    list-style: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translatex(-100%);
    transition: .5s;
    z-index: 50;
}

/*  tonen van het menu  */
nav.toonMenu ul {
    transform: translatex(0);
}

/*  knoppen naar de andere pagina's  */
li a {
    display: block;
    padding: 1em 1em 1em 3.5em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
}

/*  actieve pagina in menu */
li.active a {
    font-weight: 800;
    text-decoration: underline;
}

/* Einde menu */
/* Einde header */

/*  ------------------------- */
/*  ____________________HOMEPAGINA____________________ */

/* Start Intro */
.intro {
    flex-grow: 1;
    background-image: url("../images/headerafbeelding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 37em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.homepageintro {
    font-weight: 100;
    margin: 6em 1em 1em 1em;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;

}

/* Einde Intro */

/*  ------------------------- */

/* Start producten */

/* afbeelding blokken */
.afbeeldingproduct {
    height: 60vw;
    margin-bottom: -1.5em;
    width: auto;
    padding: 1em 1em 0 1.5em;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.productblokken {
    display: flex;
}

.product1 {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-image: linear-gradient(to right, #a9cdee 0%, #4d99d3 100%);
    background-repeat: no-repeat;
    flex-grow: 1;
    max-width: 100vw;
    padding: 2em;
}

.product2 {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-image: linear-gradient(to right, #e8908e 0%, #e6675e 100%);
    background-repeat: no-repeat;
    flex-grow: 1;
    padding: 2em;
}

.product3 {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-image: linear-gradient(to right, #9fd0aa 0%, #69b97a 100%);
    background-repeat: no-repeat;
    flex-grow: 1;
    padding: 2em;
}

/* Einde producten */

/*  ------------------------- */

/*  ------------------------- */

/* Start 3 blokken */
.aangepastp {
    text-align: center;
    font-weight: 300;
    color: white;
    font-size: 1em;
    margin: 3em;
    max-width: 30em;
}

.blok1 {
    flex-grow: 1;
    background-image: url("../images/achtergrondafbeelding5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 35em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blok2 {
    flex-grow: 1;
    background-image: url("../images/achtergrondafbeelding6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 35em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blok3 {
    flex-grow: 1;
    background-image: url("../images/achtergrondafbeelding7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 35em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Einde 3 blokken */

/* Start footer */
footer {
    display: flex;
    background-color: #263746;
    flex-direction: column;
    color: white;
    padding: 2em;
    align-items: center;
}

footer p {
    margin: .5em;
    line-height: 1.2em;
    color: white;
}

.footeritems {
    flex-direction: column;
    max-width: 25vw;
    margin: 2em;
}

.footercontent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 90vw;
}


/* Einde footer */

/*  ------------------------- */
/*  ____________________PRODUCTPAGINA____________________ */

/* Start Productenafbeelding */
.productenafbeeldingblok {
    flex-grow: 1;
    background-image: url("../images/headerafbeelding-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 45em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productenafbeelding {
    width: 80vw;
    height: auto;
}

/* Einde Productenafbeelding */

/* Start Spa touch intro */
.spatouchintro {
    flex-grow: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10em 2em 10em 2em;
}



.headerpag2intro {
    font-weight: 500;
    color: #263746;
    font-size: 3em;
    text-align: center;
    padding-bottom: 2em;
}

.tekstmidden {
    text-align: center;
}


/* Einde Spa touch intro */


/* Start Spa touch*/
.spatouch {
    background-image: url("../images/headerafbeelding-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contentpag2 {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10em;
}

.headerpag2touch {
    font-weight: 500;
    margin: 1em 1em 1em 0em;
    color: #263746;
    font-size: 3em;
    text-align: start;
}

.video {
    width: auto;
    max-height: 15em;
    border-radius: 2em;
    margin: 10em;
}

/* Einde Spa touch*/

/* Start Spa bruisend*/
.spabruisend {
    flex-grow: 1;
    background-image: url("../images/headerafbeelding-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.contentbruisend {
    justify-content: flex-start;
    align-items: flex-start;
}

.headerpag2touch {
    font-weight: 500;
    margin: 1em 1em 1em 0em;
    color: #263746;
    font-size: 3em;
    text-align: start;
}

.afbeeldingbruisend {
    height: 35em;
    width: auto;
    margin: 10em;
}

/* Einde Spa bruisend*/

/* Start Spa Smaak*/
.spasmaak {
    flex-grow: 1;
    background-image: linear-gradient(to right, #ffffff 0%, #cfe4f3 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.headerpag2smaak {
    font-weight: 500;
    margin: 1em;
    color: #263746;
    font-size: 3em;
    text-align: start;
}

.afbeeldingsmaak {
    height: 15em;
    width: auto;
    margin: 1.5em;
    transition: 0.4s;
}

.afbeeldingsmaak:hover {
    height: 18em;
    width: auto;
    margin: 2em;
}

/* _______________________________*/




/*  ------------------------- */
/*  ____________________RESPONSIVE____________________ */


/*  Start responsive menu */
@media (min-width:64em) {
    nav {
        order: 0;
    }

    nav button {
        display: none;
    }

    nav ul {
        position: relative;
        padding: 0;
        transform: none;
        background: none;
        display: flex;
    }

    nav a {
        border: none;
    }
}

@media (max-width:30em) {
    #logo {
        margin-left: 0.8em;
    }
}



/*  Einde responsive menu */

/*  Start intro responsive */
@media (min-width:60em) and (min-height:40em) {
    .intro {
        height: 60em;
    }
}

/*  Einde intro responsive*/

/* Start responsive producten */
@media (min-width:60em) and (min-height:40em) {
    .productblokken {
        display: flex;
        width: 100vw;
        height: 25em;
    }
}

@media (min-width:50em) and (min-height:30em) {
    .afbeeldingproduct {
        display: flex;
        height: 15em;
    }
}

/* Einde responsive producten */

/*  Start 3 blokken */
@media (min-width:60em) and (min-height:40em) {
    .blok1 {
        height: 60em;
    }

    h4 {
        font-size: 4em;
    }

    .aagepastp {
        line-height: 2em;
        font-size: 1.2em;
    }

    .blok2 {
        height: 60em;
    }

    .blok3 {
        height: 60em;
    }
}

/*  Einde 3 blokken */

/*  ----------PRODUCTPAGINA----------- */

/*  Start responsive productafbeeldingblok */

@media (max-width: 73em) {
    .productblokken {
        flex-direction: column;
    }
}

@media (max-width:58em) {
    .productenafbeeldingblok {
        height: 30em;
    }

    .productenafbeelding {
        width: 95vw;
        height: auto;
    }

    .spatouch,
    .spabruisend {
        display: flex;
        flex-direction: column;
    }

    .contentpag2,
    .contentbruisend {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .headerpag2touch {
        text-align: center;
        margin: 1em;
    }

    .contentpag2 p,
    .contentbruisend p {
        text-align: center;
        padding: 0em 1em;
    }

    .button3 {
        margin-bottom: 1em;
    }

    .video {
        border-radius: 2em;
    }

    .afbeeldingbruisend {
        height: 20em;
        margin: 0;
        padding: 2em;
    }

    .headerpag2smaak {
        text-align: center;
    }

    .afbeeldingensmaak {
        width: 90vw;
        text-align: center;
    }

    .product1 .afbeeldingproduct,
    .product3 .afbeeldingproduct {
        padding: 0em;
    }

}

@media (max-width: 56em) {
    footer {
        display: flex;
        background-color: #263746;
        flex-direction: column;
        color: white;
        align-items: center;
    }

    footer>#logo {
        padding: 0em;
        margin: 0em;
    }

    footer p {
        margin: 1em;
        line-height: 1.2em;
        color: white;
        max-width: 70vw;
    }

    .footercontent {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90vw;
    }

    .footeritems {
        flex-direction: column;
        max-width: 90vw;
        margin: 0em;
    }
}

@media (min-width: 47em) {
    .footercontent {
        flex-direction: row;
    }
}


/*  Einde responsive productafbeeldingblok */